<div class="form-group">
  <label>{{localize "CONAN.npcActionTypeLabel"}}</label>
  <select name="system.actionType" data-dtype="String">
    {{#select item.system.actionType}}
      {{#each actionTypes as |name type|}}
        <option value="{{type}}">
          {{name}}
        </option>
      {{/each}}
    {{/select}}
  </select>
</div>
