<div class="skills">
  <div class="section-header">
    <h2>{{localize "CONAN.npc.sections.fields"}}</h2>
  </div>
  <div class="npc-skills-grid">
    <div class="skill-entry-cmb skill-entry-name" data-skill="cmb">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.cmb.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.cmb.value"
          type="Number"
          value="{{system.skills.cmb.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="skill-entry-mov skill-entry-name" data-skill="mov">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.mov.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.mov.value"
          type="Number"
          value="{{system.skills.mov.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="skill-entry-frt skill-entry-name" data-skill="frt">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.frt.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.frt.value"
          type="Number"
          value="{{system.skills.frt.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="skill-entry-sns skill-entry-name" data-skill="sns">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.sns.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.sns.value"
          type="Number"
          value="{{system.skills.sns.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="skill-entry-knw skill-entry-name" data-skill="knw">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.knw.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.knw.value"
          type="Number"
          value="{{system.skills.knw.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
    <div class="skill-entry-scl skill-entry-name" data-skill="scl">
      <div class="entry-label">
        <h4 class="skill-name rollable">
          {{system.skills.scl.label}}
        </h4>
      </div>
      <div class="entry-score">
        <input
          name="system.skills.scl.value"
          type="Number"
          value="{{system.skills.scl.value}}"
          placeholder="&mdash;"
        />
      </div>
    </div>
  </div>
</div>
