<div class="tab talents" data-group="primary" data-tab="talents">
  {{#ifCond talents.length '===' 0}}
    <p>
      <em>{{localize 'CONAN.talentTreeEmptyPrompt'}}</em>
    </p>
  {{/ifCond}}
  <ol class="actions-list inventory-list directory-list attacks-list">
    {{#each talents as |section sid|}}
    <div class="grid-container">
      <li class="item header-bar">
        <div>
          <h3 class="talent-name item-name hideable-items">
            {{#ifObjIndex ../hiddenTables sid}}
              <i class="fa-solid fa-caret-right"></i>
            {{else}}
              <i class="fa-solid fa-caret-down"></i>
            {{/ifObjIndex}}
            &nbsp;{{section.label}}
          </h3>
        </div>
        <div class="item-properties tags">
            <span class="tag tag_secondary">Talents: {{section.talentCount}}, Ranks: {{section.ranks}}</span>
        </div>
      </li>
      <div
        class="item-table"
        data-hideable-table-id="{{sid}}"
        {{#ifObjIndex ../hiddenTables sid}}
          style="display: none;"
        {{/ifObjIndex}}
      >
        {{#each section.talents as |talent fid|}}
        <li class="item talent-item" data-item-id="{{talent._id}}">
          <div class="item-name rollable">
            <div
              class="item-image-inventory execute-attack"
              style="background-image: url({{talent.img}})"
            >
              <i class="fas fa-comment-alt"></i>
            </div>
            <h4>{{talent.name}}</h4>
          </div>
          {{#if ../../owner}}
          <div class="item-controls">
            <a
              class="item-control item-edit"
              title="{{localize CONAN.editItemTitle}}"
              ><i class="fas fa-edit"></i
            ></a>
            <a
              class="item-control item-delete"
              title="{{localize CONAN.deleteItemTitle}}"
              ><i class="fas fa-trash"></i
            ></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </ol>
</div>
