<li class="item" data-item-id="{{item._id}}">
  <div class="item-name rollable">
    <div
      class="item-image-inventory"
      style="background-image: url('{{item.img}}')"
    >
      <i class="fas fa-comment-alt"></i>
    </div>
    <h4>{{item.name}}</h4>
  </div>

  {{#if owner}}
    <div class="item-controls">
      <a class="item-control item-edit" title="{{localize CONAN.editItemTitle}}"
        ><i class="fas fa-edit"></i
      ></a>
      <a
        class="item-control item-delete"
        title="{{localize CONAN.deleteItemTitle}}"
        ><i class="fas fa-trash"></i
      ></a>
    </div>
  {{/if}}
</li>
