<div
  class="conan2d20 chat-card item-card"
  data-actor-id="{{actorId}}"
  data-item-id="{{item.id}}"
  draggable="true"
>
  <header class="card-header flexrow">
    <h2>{{item.name}}</h2>
    <img src="{{item.img}}" title="{{item.name}}" />
  </header>

  <div class="card-content">{{{data.description.value}}}</div>

  {{#each data.itemDetails as |k v|}}
   <div class="card-content">
    <label>{{localize k.label}}:</label> {{{k.detail}}}
  </div>
  {{/each}}

  <br />

  {{#ifCond actorId '!==' ''}}
    <div class="card-content">
      <button
        class="tag spell_attack chat-execute-attack"
        data-action="spellCast"
      >
        {{localize 'CONAN.spellCastLabel'}}
      </button>
    </div>
  {{/ifCond}}
</div>
