<form class="npc-sheet {{cssClass}}" autocomplete="off" id="npc-sheet">
  <!-- Sheet Header -->
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{localize "CONAN.characterNamePlaceholder"}}"
        />
      </h1>
    </div>
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
  </header>

  <section class="npc-sheet-body sheet-body">
    <!-- Sheet Body -->
    <section class="sheet-content content">
      {{> systems/conan2d20/templates/actors/npc/type.html}}

      <!-- Mob Details -->
      {{> systems/conan2d20/templates/actors/npc/mob.html}}

      <!-- Attributes -->
      {{> systems/conan2d20/templates/actors/npc/attributes.html}}

      <!-- Fields of Expertise -->
      {{> systems/conan2d20/templates/actors/npc/fields.html}}

      <!-- Health -->
      {{> systems/conan2d20/templates/actors/npc/health.html}}

      <!-- Attacks -->
      {{> systems/conan2d20/templates/actors/npc/attacks.html}}

      <!-- NPC Actions -->
      {{> systems/conan2d20/templates/actors/npc/actions.html}}

      <!-- Notes -->
      <div class="npc-notes">
        <div class="section-header">
          <h2>{{localize "CONAN.npc.sections.notes"}}</h2>
        </div>
        <div class="notes-entry">
          {{editor
            system.details.biography.value
            target="system.details.biography.value"
            button=true
            owner=owner
            editable=editable
          }}
        </div>
      </div>

      <!-- Source -->
      <div class="footer">
        <div class="entry-label">
          <h4>{{localize "CONAN.ref-book"}}</h4>
        </div>
        <div class="entry-score">
          <input
            class="npc-ref"
            name="system.optional.book.value"
            type="text"
            value="{{system.optional.book.value}}"
            placeholder="Core"
            data-dtype="String"
          />
        </div>
        <div class="entry-label">
          <h4>{{localize "CONAN.ref-page"}}</h4>
        </div>
        <div class="entry-score">
          <input
            class="npc-ref"
            name="system.optional.book.page"
            type="text"
            value="{{system.optional.book.page}}"
            placeholder="0"
            data-dtype="String"
          />
        </div>
      </div>
    </section>
  </section>
</form>
