<form
  class="window flexcol"
  autocomplete="off"
  onsubmit="event.preventDefault();"
>
  {{#unless hasValues}}
    <header class="trait-header flexrow">
      <div class="header-search">
        <i class="fas fa-search"></i>
        <input
          type="text"
          name="search"
          value="{{searchString}}"
          placeholder="Search"
          autocomplete="off"
        />
      </div>
    </header>
  {{/unless}}
  <ol class="trait-list">
    {{#each orderedChoices as |choice key|}}
      <li class="trait-item">
        <div class="form-group form-fields">
          <input
            type="checkbox"
            name="{{key}}"
            data-dtype="Boolean"
            {{checked
            choice.chosen}}
          />
          <label class="trait-label" style="margin-left: 5px; margin-right: 5px"
            >{{choice.label}}</label
          >
          {{#if ../hasValues}}
            <input
              type="text"
              id="input_value_{{key}}"
              name="{{key}}"
              value="{{choice.value}}"
              placeholder="e.g. 5"
              data-dtype="Number"
            />
          {{/if}}
          {{#if ../hasExceptions}}
            <label style="margin-left: 5px">Exceptions:</label>
            <input
              type="text"
              id="input_exception_{{key}}"
              name="{{key}}"
              value="{{choice.exceptions}}"
              placeholder="e.g. except {{localize "CONAN.weaponTraits.inc"}}"
              data-dtype="String"
            />
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
  {{#unless hasValues}}
    <div class="form-group-stacked trait-footer">
      <label>{{localize "CONAN.specialLabel"}}:</label>
      <input type="text" name="custom" value="{{custom}}" data-dtype="String" />
    </div>
  {{/unless}}
  <button class="trait-footer" type="submit" name="submit" value="1">
    <i class="far fa-save"></i>{{localize "CONAN.updateActorLabel"}}
  </button>
</form>
